ws-soap-producer/src/main/resources/add.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://c.b.a">
	<xs:element name="add">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="n1" type="xs:int" />
				<xs:element minOccurs="0" name="n2" type="xs:int" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="addResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" name="return" type="xs:int" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>